@using Incidents.Application.Incidents.Users.Commands.UpdateUser;
@{
    Layout = null;
}
@model UpdateUserDto;

<h1 class="display-5 text-center">Edit User</h1>
<div class="container col-md-8">
    @if (ViewBag.Error != null)
    {
        @foreach (var error in ViewBag.Error)
        {
            <p class="text-danger">@error</p>
        }
    }
    <a onclick="goToUserIndex()" class="btn btn-primary float-end" tabindex="-1" role="button" aria-disabled="true">Back</a>
    <br />
    <br />
    <form class="bg-white" id="editUserForm" asp-controller="User" asp-action="EditUser" 
    asp-route-userId="@Model.Id" asp-antiforgery="true" method="post">
        <div class="col-sm-12">
            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-3 col-form-label text-end"></label>
                <div class="col-sm-9">
                    <input asp-for="UserName" class="form-control form-control-sm" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 form-check-label text-end">Update Password</label>
                <div class="col-8 form-check form-switch ms-3">
                    <input class="form-check-sm form-check-input" type="checkbox" id="updatePassword" onchange="updatePasswordSwitch()">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="Password"></label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="password" asp-for="Password" disabled />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="ConfirmPassword">Confirm Password</label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="password" asp-for="ConfirmPassword" disabled />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="FullName">Full Name</label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="FullName" />
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="Email"></label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="IsEnabled">Enabled</label>
                <div class="col-8 form-check form-switch ms-3 d-flex align-items-center">
                    <input class="form-check-sm form-check-input" asp-for="IsEnabled" type="checkbox">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="UserRoles">Role</label>

                <div class="col-sm-8">
                    <select asp-for="UserRoles" asp-items="ViewBag.Roles"
                            id="roleSelect"
                            asp-data-style="btn-select"
                            asp-data-size="10"
                            class="form-control form-control-sm selectpicker show-tick"
                            multiple="multiple">
                    </select>
                    <br />
                    <span class="text-danger" asp-validation-for="UserRoles"></span>
                </div>
                

                @* <div class="col-9">
                    <select class="form-select" asp-for="UserRoles">
                        @foreach (var role in ViewBag.Roles)
                        {
                            if (Model.UserRoles.Contains(role.Id))
                            {
                                <option value="@role.Id" selected>@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    </select>
                </div> *@
            </div>

        </div>
    </form>
    <div class="d-flex justify-content-end">
        <button id="modifyUserSubmitForm" onclick="editUser(@Model.Id)" class="btn btn-primary">Edit<i class="fas fa-sign-in-alt"></i></button>
    </div>
</div>
