@using Incidents.Application.Incidents.Commands.IncidentsCommands.CreateIncident;
@using Incidents.Application.Incidents.Queries.IncidentTypeQueries.GetAllIncedentTypes;
@{
    Layout = null;
}

@model CreateIncidentDto;

<h1 class="display-5 text-center">Create Incident</h1>
<div class="container col-md-8">
    @if (ViewBag.Error != null)
    {
        @foreach (var error in ViewBag.Error)
        {
            <p class="text-danger">@error</p>
        }
    }
    <a onclick="goToIncidentsIndex()" class="btn btn-primary float-end" tabindex="-1" role="button" aria-disabled="true">Back</a>
    <br />
    <br />
    <form class="bg-white" id="createIncidentForm" asp-controller="Incident"
          asp-action="CreateIncident" asp-antiforgery="true" method="post">
        <div class="col-sm-12">
            <div class="form-group row">
                <label asp-for="RequestNr" class="col-sm-3 col-form-label text-end"></label>
                <div class="col-sm-9">
                    <input asp-for="RequestNr" class="form-control form-control-sm" />
                    <span asp-validation-for="RequestNr" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="Subsystem"></label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="Subsystem"/>
                    <span class="text-danger" asp-validation-for="Subsystem"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="OpenDate">Open Date</label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="date" asp-for="OpenDate" />
                    <span class="text-danger" asp-validation-for="OpenDate"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="Type"></label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="Type" />
                    <span class="text-danger" asp-validation-for="Type"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="ApplicationType">Application Type</label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="ApplicationType"/>
                    <span class="text-danger" asp-validation-for="ApplicationType"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="Urgency"></label>
                <div class="col-9">
                    <select class="form-select form-select-sm" asp-for="Urgency">
                        <option selected value="Hight">Hight</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Urgency"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="SubCause">Sub Cause</label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="SubCause"/>
                    <span class="text-danger" asp-validation-for="SubCause"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="ProblemSummery">Problem Summery</label>
                <div class="col-9 mb-2">
                    <textarea class="form-control form-control-sm" rows="3" asp-for="ProblemSummery" style="resize: none;"></textarea>
                    <span class="text-danger" asp-validation-for="ProblemSummery"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="ProblemDescription">Problem Description</label>
                <div class="col-9 mb-2">
                    <textarea class="form-control form-control-sm" rows="3" asp-for="ProblemDescription" style="resize: none;"></textarea>
                    <span class="text-danger" asp-validation-for="ProblemDescription"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="Solution"></label>
                <div class="col-9 mb-2">
                    <textarea class="form-control form-control-sm" asp-for="Solution" rows="3" style="resize: none;"></textarea>
                    <span class="text-danger" asp-validation-for="Solution"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end">Origin</label>
                <div class="col-9" >
                    <select id="originSelect" class="form-select form-select-sm" asp-for="OriginId">
                        <option></option>
                        @foreach (var origin in ViewBag.Origins)
                        {
                            <option value="@origin.Id">@origin.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end">Ambit</label>
                <div class="col-9">
                    <select id="ambitSelect" disabled class="form-select form-select-sm" asp-for="AmbitId">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end">Incident Type</label>
                <div class="col-9">

                    <select id="incidentTypeSelect" disabled class="form-select form-select-sm" asp-for="IncidentTypeId">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end" asp-for="ThirdParty">Third Party</label>
                <div class="col-9">
                    <input class="form-control form-control-sm" type="text" asp-for="ThirdParty" />
                    <span class="text-danger" asp-validation-for="ThirdParty"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end">Scenary</label>
                <div class="col-9">
                    <select class="form-select form-select-sm" asp-for="ScenaryId">
                        @foreach (var scenary in ViewBag.Scenarios)
                        {
                            <option value="@scenary.Id">@scenary.Name</option>
                        }

                    </select>
                    <span class="text-danger" asp-validation-for="ScenaryId"></span>

                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-end">Threat</label>
                <div class="col-9">
                    <select class="form-select form-select-sm" asp-for="ThreatId">
                        @foreach (var threat in ViewBag.Threats)
                        {
                            <option value="@threat.Id">@threat.Name</option>
                        }

                    </select>
                    <span class="text-danger" asp-validation-for="ThreatId"></span>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-end">
        <button onclick="createIncident()" class="btn btn-primary">Create<i class="fas fa-sign-in-alt"></i></button>
    </div>

</div>
